{% comment %} 
This is the navbar and will be used in different pages with the
help of 'include' tag If we want to include in other pages, we have to make
usage of 'include' tag as follows : 
  Syntax : "include template_name" , 
  usage : include 'blog/navbar.html' 
{% endcomment %} 

{% comment %} 
  Include navbar
  [header] wherever want including template from the templates/navbar.html 
{% endcomment %} 
{% comment %} 
  {% include 'navbar.html' %} 
{% endcomment %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="javascript:void(0)"
      style="color: rgb(204, 66, 204)"
      >Amigos' Blogs</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="text"
          placeholder="Search For Blog"
        />
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
