{% extends "base.html" %} {% block content %} {% if error_message %}
<div class="container py-5">
	<div class="row">
		<div class="col-lg-8 mx-auto text-center">
			<h1 class="display-1">Oops!</h1>
			<h2 class="display-4">Page Not Found</h2>
			<p class="lead mb-5">
				The page you are looking for could not be found. It may have been
				removed, renamed, or url is invalid.
			</p>
			<a href="/" class="btn btn-success btn-md">Go back to Home</a>
		</div>
	</div>
</div>
{% endif %} {% if post %}
<div style="margin: 60px">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1 class="mb-3">{{ post.title }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<img
					src="{{ post.img_url }}"
					class="img-fluid mb-4"
					alt="{{ post.title }}"
					style="max-height: 350px; min-height: 350px; width: 90%" />
				<p class="lead">{{ post.content }}</p>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-12">
				<ul class="list-inline">
					<li class="list-inline-item">
						Tags : {% for tag in post.tags.all %}
						<kbd>{{ tag.name }}</kbd>
						{% endfor %}
					</li>
					<br />
					<li class="list-inline-item">
						Category : <code>{{ post.category.name }} </code>
					</li>
					<li class="list-inline-item">
						<b
							><div>
								Author:
								<a
									href="/author/{{post.author.id}}/blogs"
									style="text-decoration: none"
									>{{post.author.name}}</a
								>
							</div></b
						>
					</li>
					<br />
				</ul>
			</div>
			<div class="col-12" style="margin-bottom: 40px">
				<ul class="list-inline">
					<li class="list-inline-item">
						Published : {{ post.pub_date | date}}
					</li>
					<li class="list-inline-item">
						<i class="fa fa-eye" aria-hidden="true" style="color: green"></i> :
						{{ post.views_count }}
					</li>
				</ul>
			</div>

			{% if comments %}
			<div class="container">
				<div class="row">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Recent Comments</h4>
						</div>
						{% for comment in comments %}
						<div class="card-body">
							<div class="media">
								<div class="media-body">
									<strong>{{ comment.posted_by }} :</strong>
									<p>{{ comment.comment_desc }}</p>
								</div>
							</div>
							<hr />
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

			<h5>Write your comment here</h5>
			<br />
			<form
				class="mb-5"
				method="POST"
				action="/blogs/details/{{post.id}}/comment">
				{% csrf_token %}
				<div class="mb-3">
					<label for="name" class="form-label">Name:</label>
					<input
						type="text"
						required
						class="form-control"
						id="name"
						name="name"
						placeholder="Enter your name" />
				</div>
				<div class="mb-3">
					<label for="comment" class="form-label">Comment:</label>
					<textarea
						class="form-control"
						required
						id="comment"
						name="comment"
						rows="5"
						placeholder="Enter your comment"></textarea>
				</div>
				<button type="submit" class="btn btn-md btn-primary">Submit</button>
			</form>

			<h3 class="border border-2 border-purple p-2 col-12 mb-3">
				Related Posts for category:
				<span class="text-danger">{{ post.category.name }}</span>
			</h3>

			<div
				class="related_posts"
				style="display: flex; flex-wrap: wrap; margin-bottom: 27px">
				{% for post in related_posts %}
				<div class="col-md-3" style="margin-right: 15px; width: 32% !important">
					<div class="card mb-4">
						<img
							src="{{ post.img_url }}"
							class="card-img-top"
							alt="{{ post.title }}"
							style="height: 200px" />
						<div class="card-body">
							<h5 class="card-title">{{ post.title | slice:":40" }}</h5>
							<p>
								{{ post.content | slice:":60" }} ...
								<a
									href="/blogs/details/{{post.id}}"
									style="text-decoration: none; color: green"
									>Read More</a
								>
							</p>
							<div>
								<i class="fa fa-sharp fa-solid fa-tags" style="color: blue"></i
								>&nbsp; {% for tag in post.tags.all %}
								<kbd>{{ tag.name }}</kbd>
								{% endfor %}
							</div>
							<i
								class="fa fa-sharp fa-solid fa-certificate"
								style="color: red"></i
							>&nbsp; <code>{{ post.category.name }} </code> &nbsp;
							<i class="fa fa-eye" aria-hidden="true" style="color: green"></i>
							{{ post.views_count }} times
							<br />
							<div>
								Author:
								<a
									href="author/{{post.author.id}}/blogs"
									style="text-decoration: none"
									>{{post.author.name}}</a
								>
							</div>
							<br />
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endif %} {% endblock %}
